<div class="col-sm px-3">
  <h4><%= titulo %></h4>
  <hr class="mb-3" />

  <form class="m-w-800" method="post" action="<%= action %> ">
    <div class="row g-3 mb-2">
      <div class="col-sm">
        <label class="copy-h6-format text-white">Destinatário</label>
        <input type="text" name="destinatario" class="form-control" placeholder="Ex: Minha Casa" value="<%= endereco && endereco.destinatario %>" required />
      </div>
      <div class="col-sm">
        <label class="copy-h6-format text-white">Cep</label>
        <input
          required
          type="text"
          id="cep"
          name="cep"
          class="form-control cep"
          placeholder="Ex: 00000-000"
          size="10"
          maxlength="9"
          onblur="pesquisacep(this.value);"
          aria-label="Zip"
          value="<%= endereco && endereco.cep %>"
        />
      </div>
    </div>

    <div class="row g-3 mb-2">
      <div class="col-sm-9">
        <label class="copy-h6-format text-white">Rua</label>
        <input type="text" name="rua" id="rua" class="form-control" readonly value="<%= endereco && endereco.rua %>" />
      </div>
      <div class="col-sm">
        <label class="copy-h6-format text-white">Nº</label>
        <input required type="number" name="numero" class="form-control" placeholder="Ex: 50" value="<%= endereco && endereco.numero %>" />
      </div>
    </div>

    <div class="row g-3 mb-2">
      <div class="col-sm">
        <label class="copy-h6-format text-white">Complemento</label>
        <input type="text" name="complemento" class="form-control" placeholder="Ex: apto. 35" value="<%= endereco && endereco.complemento %>" />
      </div>
      <div class="col-sm">
        <label class="copy-h6-format text-white">Bairro</label>
        <input type="text" name="bairro" id="bairro" class="form-control" readonly value="<%= endereco && endereco.bairro %>" />
      </div>
    </div>

    <div class="row g-3 mb-2">
      <div class="col-sm">
        <label class="copy-h6-format text-white">Cidade</label>
        <input type="text" name="cidade" id="cidade" class="form-control" readonly aria-label="City" value="<%= endereco && endereco.cidade %>" />
      </div>
      <div class="col-sm">
        <label class="copy-h6-format text-white">Estado</label>
        <input type="text" name="estado" id="uf" class="form-control" readonly aria-label="State" value="<%= endereco && endereco.estado %>" />
      </div>
    </div>

    <input type="hidden" name="id" value="<%= endereco && endereco.id %>" />

    <%- include('./error-alert', {error}) %>

    <button class="btn btn-primary" type="submit">Salvar</button>
  </form>
</div>

<script src="/js/cep.js" defer></script>
