<%- include('./components/head') %> <%- include('./components/navbar') %>

<div class="corpo">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3 my-2 align-items-center justify-content-center" style="--bs-bg-opacity: 1">
          <div style="background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important; padding: 10px; border-radius: 5px">
            <form action="produtos" method="get">
              <div class="form-group">
                <label for="nomeProduto">Nome do Produto</label>
                <input type="text" class="form-control" id="nomeProduto" name="nomeProduto" placeholder="Produto" />
              </div>
              <div class="form-group">
                <label for="categoria">Categoria</label>
                <select name="categoriaId" class="form-control" id="categoria">
                  <option value="">---Selecione---</option>
                  <% categorias.forEach(categoria => { %>
                  <option value="<%= categoria.id %>"><%= categoria.nomeCategoria %></option>
                  <% }) %>
                </select>
              </div>
              <%#
              <div class="form-group">
                <label for="exampleInputEmail1">Peso</label>
                <select name="peso" class="form-control" id="pesoproduto">
                  <option value="selecionar">---Selecione---</option>
                  <option value="cakeboards">Cakeboards</option>
                  <option value="bolos">Topos de Bolo</option>
                  <option value="caixacenario">Caixa Cenário</option>
                </select>
              </div>
              %>

              <div class="form-group" style="margin-top: 10px; text-align: right">
                <button type="submit" style="background-color: #194351" class="btn btn-primary">Filtrar</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-9 my-2 align-items-center justify-content-center">
          <div class="row">
            <% if (produtos && produtos.length > 0) { %> <% produtos.forEach(produto => { %> <% if (produto.TamanhoProdutos && produto.TamanhoProdutos.length > 0) { %>
            <div class="col-md-3">
              <div class="produto-lista">
                <a href="produtos/<%= produto.id %>" class="produto-sobrepor"></a>
                <div class="imagem-lista">
                  <img src="<%= produto.ImagemProdutos[0].nomeImagem %>" class="imageview" alt="<%= produto.nomeProduto %>" />
                  <div class="middle">
                    <i class="text bi bi-cart"></i>
                  </div>
                </div>
                <div class="caption infoproduto">
                  <a class="produto-titulo"><%= produto.nomeProduto %></a>
                  <p>A partir de <strong class="valorproduto"><%= produto.TamanhoProdutos[0].preco %></strong></p>
                </div>
              </div>
            </div>
            <% } %> <% }) %> <% } else { %>
            <div class="col-12 bg-light bg-gradient text-center rounded-pill p-3">
              <h3>Nenhum produto encontrado para o filtro informado</h3>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('./components/foot') %>
