<%- include('../components/head') %> <%- include('../components/navbar') %>

<section>
  <div class="corpo container-fluid text-branco">
    <div class="row g-1">
      <%- include('../components/lateral-menu') %>

      <div class="col-sm px-3">
        <h4>Cadastrar Tamanho</h4>
        <hr class="mb-4" />

        <!-- CODIGO AQUI -->
        <form class="m-w-800" method="post" action="/produtos/cadastrar-tamanho">
          <div class="row g-3 mb-2">
            <div class="col-sm">
              <label class="copy-h6-format text-white">Tamanho</label>
              <input type="text" name="tamanho" class="form-control" placeholder="Ex: 10 cm" required />
            </div>
          </div>

          <div class="row g-3 mb-2">
            <div class="col-sm">
              <label class="copy-h6-format text-white">Estoque Inicial</label>
              <input type="text" name="quantidade" class="form-control" placeholder="Ex: 1" required />
            </div>
          </div>

          <div class="row g-3 mb-2">
            <div class="col-sm">
              <label class="copy-h6-format text-white">Peso</label>
              <input type="text" name="peso" class="form-control" placeholder="Ex: 10" required/>
            </div>
          </div>

          <div class="row g-3 mb-4">
            <div class="col-sm">
              <label class="copy-h6-format text-white">Preço</label>
              <input type="text" name="preco" class="form-control" placeholder="Ex: 10,00" required/>
            </div>
          </div>

          <input type="hidden" name="produtoId" value="<%= produtoId %>"/>
          <button class="btn btn-primary" type="submit">Salvar</button>
        </form>
        <!-- FIM DO CODIGO -->
      </div>
    </div>
  </div>
</section>

<%- include('../components/foot') %>
