<%- include('../components/head', {title: 'Minha Conta: Admnistrador'}) %> <%- include('../components/navbar') %> <% const ehPF = USUARIO.Cliente.ehPessoaFisica; %>

<section>
  <div class="corpo container-fluid text-branco">
    <div class="row g-1">

      <%- include('../components/minha-conta/lateral-menu-admin') %>

      <div class="col-sm px-3">

        <h4>Meus Dados</h4>      
        <hr class="mb-4">

        <!-- CODIGO AQUI -->
        <form class="m-w-800" action="/usuarios/alterar-dados?_method=PUT" method="post" data-toggle="validator">
        
          <div class="row g-3 mb-2">
            <div class="col-sm">
              <label class="font-18-bold text-white" for="nome"><%= ehPF ? 'Nome' : 'Razão Social' %></label>
              <input id="nome" type="text" name="nome" class="form-control" value="<%= ehPF ? USUARIO.Cliente.PessoaFisica.nome : USUARIO.Cliente.PessoaJuridica.razao_social  %>" required placeholder="Ex: Minha Casa">
            </div>
          </div>

          <div class="row g-3 mb-2">
            <div class="col-sm">
              <label class="font-18-bold text-white" for="cpfCNPJ"><%= ehPF ? 'CPF' : 'CNPJ' %></label>
              <input
                type="text"
                id="cpfCNPJ"
                name="cpfCNPJ"
                class="form-control <%= ehPF ? 'cpf' : 'cnpj' %>"
                value="<%= ehPF ? USUARIO.Cliente.PessoaFisica.cpf : USUARIO.Cliente.PessoaJuridica.cnpj  %>"
                minlength="14"
                maxlength="18"
                data-remote="http://localhost:3000/validar-cpf-cnpj"
                required
              />
            </div>
          </div>

          <div class="row g-3 mb-4">
            <div class="col-sm">
              <label for="telefone" class="font-18-bold text-white">Telefone Principal</label>
              <input type="text" name="telefone" id="telefone" class="form-control phone_with_ddd" value="<%=USUARIO.Cliente.telefone%>" required />
              <div class="help-block with-errors"></div>
            </div>
          </div>
          
          <%- include('../components/error-alert', {error}) %>
          <button type="submit" class="btn btn-primary ">Salvar Dados</button>
        </form>
        <!-- FIM DO CODIGO -->
      </div>
    </div>
  </div>
</section>

<%- include('../components/foot') %>
