<%- include('../components/head') %> <%- include('../components/navbar') %>

<section>
  <div class="corpo container-fluid text-branco">
    <div class="row g-1">
      <%- include('../components/lateral-menu') %>

      <div class="col-sm px-3">
        <h4>Produtos</h4>
        <hr class="mb-4" />

        <!-- CODIGO AQUI -->
        <div class="row g-3 max-width-610p">
          <div class="col-sm-12">
            <div class="list-group">
              <div class="list-group-item list-group-item-action mb-3" aria-current="true">
                <div class="row g-1">
                  <a href="/minha-conta/cadastrarproduto" class="col-sm-12 btn btn-primary">Cadastrar Produto</a>
                </div>
              </div>
              <% produtos.forEach(produto => { %>
              <div class="list-group-item list-group-item-action mb-3" aria-current="true">
                <div class="row g-1 mb-2">
                  <div class="col-sm mx-1 mb-1">
                    <img src="<%= produto.ImagemProdutos[0].nomeImagem %>" style="border: 1px solid gray;"/>
                  </div>
                  <div class="col-sm-8 mx-1">
                    <div class="mb-2" align="center">
                      <h4><%= produto.nomeProduto %></h4>
                    </div>
                    <div class="mb-2">
                      <strong>Descrição:</strong>
                      <span><%= produto.descricao %></span>
                    </div>
                    <div class="mb-2">
                      <strong>Personalizavel:</strong>
                      <span><%= produto.personalizavel ? 'Sim' : 'Não' %></span>
                    </div>
                    <div>
                      <strong>Categoria:</strong>
                      <span class="mb-1"><%= produto.Categorium.nomeCategoria %></span>
                    </div>
                  </div>
                </div>
                <div class="row g-1">
                  <form class="col-sm-4" action="/minha-conta/editarproduto" method="get">
                    <input type="hidden" name="produtoId" value="<%= produto.id %>" />
                    <input type="submit" value="Editar" class="btn btn-outline-secondary btn-tabela" />
                  </form>
                  <form class="col-sm-4" action="/minha-conta/estoqueproduto" method="get">
                    <input type="hidden" name="produtoId" value="<%= produto.id %>" />
                    <input type="submit" value="Estoque" class="btn btn-outline-secondary btn-tabela" />
                  </form>
                  <form class="col-sm-4" action="/minha-conta/meusprodutos" method="get">
                    <input type="hidden" name="produtoId" value="<%= produto.id %>" />
                    <input type="submit" value="Excluir" class="btn btn-outline-danger btn-tabela" onClick="if(!(confirm('Deseja mesmo excluir este produto?'))) return false"/>
                  </form>
                </div>
              </div>
              <% }); %>
            </div>
          </div>
        </div>
        <!-- FIM DO CODIGO -->
      </div>
    </div>
  </div>
</section>

<%- include('../components/foot') %>
