<%- include('../components/head', {title: 'Minha Conta: Editar Endereço'}) %> <%- include('../components/navbar') %>

<section>
  <div class="corpo ">
    <div class="page-grid">
      
      <nav>
        <%- include('../components/minha-conta/lateral-menu') %>
      </nav>

      <div class="container-conteudo">
        
        <ul class="cadastro-title">
          <strong>Alterar Endereço</strong>
          
        </ul>
        
        <!-- CONTEUDO DA PAGINA AQUI -->
        <form method="post" action="/usuarios/alterar-endereco?_method=PUT">
          <input type="text" name="destinatario" value="<%= endereco.destinatario %>" placeholder="destinatario">
          <input type="text" name="rua" value="<%= endereco.rua %>" placeholder="rua">
          <input type="text" name="numero" value="<%= endereco.numero %>" placeholder="numero">
          <input type="text" name="complemento" value="<%= endereco.complemento %>" placeholder="complemento">
          <input type="text" name="bairro" value="<%= endereco.bairro %>" placeholder="bairro">
          <input type="text" name="cidade" value="<%= endereco.cidade %>" placeholder="cidade">
          <input type="text" name="estado" value="<%= endereco.estado %>" placeholder="estado">
          <input type="text" name="cep" value="<%= endereco.cep %>" placeholder="cep">
          <input type="hidden" name="id" value="<%= endereco.id %>">
          <button type="submit">Alterar</button>
        </form>

      </div>

    </div>
  </div>
</section>

<%- include('../components/foot') %>

<!-- <div class="caixa1">
  <p class="subtitulos espaco">Nome do Destinatário</p>
  <p class="subtitulos espaco esp-cep">CEP</p>
  <a href="https://buscacepinter.correios.com.br/app/endereco/index.php" class="subtitulos">Não sabe seu CEP?</a>
</div> -->