<%- include('../components/head', {title: 'Minha Conta: Dados'}) %> <%- include('../components/navbar') %> <% const ehPF = USUARIO.Cliente.ehPessoaFisica; %>

<section>
  <div class="corpo">
    <div class="page-grid">

      <nav>
        <%- include('../components/minha-conta/lateral-menu') %>
      </nav>
       
      <div class="container-conteudo">  
        <h2 class="title mb-5">Meus Endereços</h2>

        <div class="grid-line">  
          <div class="subcontainer-left">
  
            <table class="text-white">
              <% enderecos.forEach(endereco => { %>
                <tr>
                  <td>  
                    <h3><%= endereco.destinatario %></h3>  
                  </td>
                  <td align="right">
                    
                    <form action="/minha-conta/editarendereco" method="get">
                      <button type="submit" name="enderecoId" value="<%= endereco.id %>" class="btn btn-primary btn-tabela">Editar</button>
                    </form>
                    
                  </td>
                  <td>
                    
                    <form action="/usuarios/excluir-endereco?_method=DELETE" method="post">
                      <button type="submit" name="id" value="<%= endereco.id %>" class="btn btn-primary btn-tabela" onClick="if(!(confirm('Deseja mesmo excluir este endereço?'))) return false">Excluir</button>
                    </form>

                  </td>

                </tr>
                <tr>
                  <td colspan="3">
                    <%= endereco.rua %>, <%= endereco.numero %>, <%= endereco.complemento %> - <%= endereco.bairro %> - <%= endereco.cidade %> - <%= endereco.estado %>, <%= endereco.cep %>
                    <hr>
                  </td>
                </tr>                  
              <% }); %>
            </table>
              
          </div>
          
          <div class="subcontainer-right text-white">
            <a href="/minha-conta/cadastrarendereco" class="btn btn-primary">Cadastrar Endereço</a>
          </div>
  
        </div>

      </div>

    </div>
  </div>
</section>

<%- include('../components/foot') %>
