<%- include('../components/head') %> <%- include('../components/navbar') %> <% const ehPF = USUARIO.Cliente.ehPessoaFisica; %>
<script src="/js/detalhesPedido.js" ></script>

<section>
  <div class="corpo container-fluid text-branco">
    <div class="row g-1">
      <%- include('../components/lateral-menu') %>

      <div class="col-sm px-3">
        <h4>Meus Pedidos</h4>
        <hr class="mb-5" />

        <div class="list-group max-width-610p centraliza-itens">
          <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="row g-1"></div>
          </div>

          <!-- FOREACH -->
          <% pedidos.forEach(pedido => { %>
                      
          <div onclick="detalharPedido('<%= pedido.id %>')" class="list-group-item list-group-item-action" aria-current="true">
            <div class="row g-1">
              <strong class="col-sm m-w-130">Nº do Pedido</strong>
              <p class="col-sm mb-1"><%= pedido.id %> </p>
            </div>
            <div class="row g-1">
              <strong class="col-sm m-w-130">Pagamento</strong>
              <p class="col-sm mb-1"><%= pedido.TipoPagamento.nomeTipoPagamento %></p>
            </div>
            <div class="row g-1">
              <strong class="col-sm m-w-130">Status</strong>
              <p class="col-sm mb-1"><%= pedido.StatusPedido.descricao %></p>
            </div>
            <div class="row g-1">
              <strong class="col-sm m-w-130">Valor Total</strong>
              <p class="col-sm mb-1">R$ <%= pedido.subtotal %> </p>
            </div>
            <div class="row g-1">
              <strong class="col-sm m-w-130">Tipo de Envio</strong>
              <p class="col-sm mb-1"><%= pedido.TipoEnvio.nomeTipoEnvio %></p>
            </div>
            <!-- DETALHES DO PEDIDO -->
            <div id="<%= pedido.id %>" class="detalhesPedido">
              <div class="list-group-item list-group-item-action" aria-current="true">

                <div class="row g-1 mb-3">
                  <div class="col-sm w-100 mb-2">
                    <i class="bi bi-geo-alt me-2"></i>
                    <u>
                      <strong>Endereço de Entrega</strong>
                    </u>          
                  </div>
                  <div>
                    <p class="mb-1"><strong>Logradouro:</strong> <%= pedido.Endereco.rua %></p> 
                    <p class="mb-1"><strong>Numero:</strong> <%= pedido.Endereco.numero %></p> 
                    <p class="mb-1"><strong>Complemento:</strong> <%= pedido.Endereco.complemento %></p> 
                    <p class="mb-1"><strong>Bairro:</strong> <%= pedido.Endereco.bairro %></p> 
                    <p class="mb-1"><strong>Cidade:</strong> <%= pedido.Endereco.cidade %></p>
                    <p class="mb-1"><strong>Estado:</strong> <%= pedido.Endereco.estado %></p> 
                    <p class="mb-1"><strong>CEP:</strong> <%= pedido.Endereco.cep %></p>   
                  </div>
                </div>
                <hr>
                <div class="row g-1 list">
                  <div class="col-sm w-100 mb-2">
                    <i class="bi bi-box-seam me-2"></i>
                    <u>
                      <strong>Produtos Adquiridos</strong>
                    </u>
                  </div>

                  <!-- segundo forEach -->
                    <div class="list-group-item">
                      <p class="mb-1"><strong>Nome:</strong> ejs TAG a fazer</p> 
                      <p class="mb-1"><strong>Tamanho:</strong> ejs TAG a fazer</p> 
                      <p class="mb-1"><strong>Logomarca?:</strong> ejs TAG a fazer</p> 
                      <p class="mb-1"><strong>Qtde:</strong> ejs TAG a fazer</p> 
                    </div>
                  <!-- fim do segundo forEach -->
                </div>
              </div>
            </div>
            <!-- Detalhes do Pedido -->
          </div>
   
          <% }); %>
          <!-- FINAL FOREACH -->
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../components/foot') %>
