<%- include('../components/head') %> <%- include('../components/navbar') %> <% const ehPF = USUARIO.Cliente.ehPessoaFisica; %>

<section>
  <div class="corpo container-fluid text-branco">
    <div class="row g-1">
      <%- include('../components/lateral-menu') %>

      <div class="col-sm px-3">
        <h4>Meus Pedidos</h4>
        <hr class="mb-5" />

        <div class="list-group max-width-610p centraliza-itens">
          <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="row g-1"></div>
          </div>

          <!-- FOREACH -->
          <% pedidos.forEach(pedido => { %>
                      
            

          <div class="list-group-item list-group-item-action" aria-current="true">
            <div class="row g-1">
              <strong class="col-sm m-w-130">Nº do Pedido</strong>
              <p class="col-sm"><%= pedido.id %> </p>
            </div>
            <div class="row g-1">
              <strong class="col-sm m-w-130">Pagamento</strong>
              <p class="col-sm"><%= pedido.TipoPagamento.nomeTipoPagamento %></p>
            </div>
            <div class="row g-1">
              <strong class="col-sm m-w-130">Status</strong>
              <p class="col-sm"><%= pedido.StatusPedido.descricao %></p>
            </div>
            <div class="row g-1">
              <strong class="col-sm m-w-130">Valor Total</strong>
              <p class="col-sm">R$ <%= pedido.subtotal %> </p>
            </div>
            <div class="row g-1">
              <strong class="col-sm m-w-130">Tipo de Envio</strong>
              <p class="col-sm"><%= pedido.TipoEnvio.nomeTipoEnvio %></p>
            </div>
          </div>
          <% }); %>
          <!-- FINAL FOREACH -->
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../components/foot') %>
