<%- include('../components/head', {title: 'Minha Conta: Senha'}) %> <%- include('../components/navbar') %>

<div class="corpo">
  <section>
    <%- include('../components/minha-conta/lateral-menu') %>

    <div class="senha">
      <ul class="senha-title">
        <strong>Alteração de Senha</strong>
      </ul>
      <div class="componentes">
        <form method="post" action="/usuarios/alterar-senha?_method=PUT" class="novo-email" data-toggle="validator">
          <p class="subtitulos">Senha Atual</p>
          <input type="password" name="senhaAtual" class="form-control w-25" placeholder="Digite a senha atual" required />
          <p class="subtitulos">Digite e confirme a nova senha</p>
          <div class="row g-2">
            <div class="col-auto w-25 form-group">
              <input type="password" name="senha" id="senha" class="form-control" placeholder="Crie sua nova senha" minlength="6" required />
              <div class="help-block with-errors mt-3"></div>
            </div>
            <div class="col-auto w-25 form-group">
              <input
                type="password"
                name="confirmSenha"
                class="form-control"
                placeholder="Confirme a nova senha"
                required
                data-match="#senha"
                data-match-error="Atenção! As senhas não estão iguais."
              />
              <div class="help-block with-errors mt-3"></div>
            </div>
          </div>
          <%- include('../components/error-alert', {error}) %>
          <button type="submit" class="btn btn-primary">Alterar</button>
        </form>
      </div>
    </div>
  </section>
</div>
<%- include('../components/foot') %>
